@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
}

* {
  @apply !transition-all;
}
.btn {
  @apply text-base font-medium transition-all;
  @apply p-2;
  @apply border rounded;
}
.btn-primary {
  @apply text-white bg-red-light hover:bg-transparent border-red-light hover:text-red-light;
}
.btn-outline {
  @apply bg-transparent border-red-light text-red-light hover:bg-red-light hover:text-white;
}

.btn-secondary {
  @apply bg-white border-white hover:bg-transparent hover:border-none hover:text-white text-gray-dark;
}

.slider-center {
  @apply relative flex flex-col items-center justify-center w-full;
  @apply text-center text-white;
}

.slider-image {
  @apply absolute inset-0 w-full h-full z-[-1];
}
.overlay {
  @apply absolute w-full h-full bg-black/50;
  z-index: -1 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-gray-900 transition-all bg-white px-4 py-3 hover:bg-red-light hover:text-white !text-xl font-semibold;
}
