@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
}

* {
  @apply !transition-all;
}
.btn {
  @apply text-base font-medium transition-all;
  @apply p-2;
  @apply border rounded;
}
.btn-primary {
  @apply text-white bg-red-light hover:bg-transparent border-red-light hover:text-red-light;
}
.btn-outline {
  @apply bg-transparent border-red-light text-red-light hover:bg-red-light hover:text-white;
}

.btn-secondary {
  @apply bg-white border-white hover:bg-transparent hover:text-white text-gray-dark;
}

.slider-center {
  @apply relative flex flex-col items-center justify-center w-full;
  @apply text-center text-white;
}

.slider-image {
  @apply absolute inset-0 w-full h-full z-[-1];
}
.overlay {
  @apply absolute w-full h-full bg-black/50;
  z-index: -1 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-gray-900 transition-all bg-white px-2 py-1 md:px-4 md:py-3 hover:bg-red-light hover:text-white !text-lg md:!text-xl font-semibold rounded-md;
}

.image-backdrop:hover .back,
.image-backdrop:hover .add-to-cart {
  @apply !opacity-100 backdrop-brightness-75 z-[1];
}

.badge-striped::before,
.badge-striped::after {
  position: absolute;
  z-index: -1;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  content: "";
}
.badge-striped::before {
  right: 100%;
  border: 20px solid #ff324d;
  border-left-color: transparent;
}
.badge-striped::after {
  left: 100%;
  border: 20px solid #ff324d;
  border-right-color: transparent;
}
